[submodule "0_libft"]
	path = 0_libft
	url = git@github.com:mcombeau/libft.git
[submodule "1_get_next_line"]
	path = 1_get_next_line
	url = git@github.com:mcombeau/get_next_line.git
[submodule "1_ft_printf"]
	path = 1_ft_printf
	url = git@github.com:mcombeau/ft_printf.git
[submodule "1_born2beroot"]
	path = 1_born2beroot
	url = git@github.com:mcombeau/Born2beroot.git
[submodule "2_push_swap"]
	path = 2_push_swap
	url = git@github.com:mcombeau/push_swap.git
[submodule "2_pipex"]
	path = 2_pipex
	url = git@github.com:mcombeau/pipex.git
[submodule "2_fractol"]
	path = 2_fractol
	url = git@github.com:mcombeau/fract-ol.git
[submodule "3_philosophers"]
	path = 3_philosophers
	url = git@github.com:mcombeau/philosophers.git
[submodule "3_minishell"]
	path = 3_minishell
	url = https://github.com/mcombeau/minishell
