[submodule "0_libft"]
	path = libft
	url = git@github.com:mcombeau/libft.git
[submodule "1_get_next_line"]
	path = get_next_line
	url = git@github.com:mcombeau/get_next_line.git
[submodule "1_ft_printf"]
	path = ft_printf
	url = git@github.com:mcombeau/ft_printf.git
[submodule "1_born2beroot"]
	path = born2beroot
	url = git@github.com:mcombeau/Born2beroot.git
[submodule "2_push_swap"]
	path = push_swap
	url = git@github.com:mcombeau/push_swap.git
[submodule "2_pipex"]
	path = pipex
	url = git@github.com:mcombeau/pipex.git
[submodule "2_fractol"]
	path = fractol
	url = git@github.com:mcombeau/fract-ol.git
[submodule "3_philosophers"]
	path = philosophers
	url = git@github.com:mcombeau/philosophers.git
[submodule "3_minishell"]
	path = minishell
	url = git@github.com:mcombeau/minishell.git
[submodule "4_cpp_piscine"]
	path = cpp_modules
	url = git@github.com:mcombeau/Cpp_Modules.git
[submodule "4_net_practice"]
	path = net_practice
	url = git@github.com:mcombeau/net_practice.git
[submodule "4_cub3d"]
	path = cub3d
	url = git@github.com:mcombeau/cub3D.git
[submodule "ft_containers"]
	path = ft_containers
	url = git@github.com:mcombeau/ft_containers.git
